.wrapper {
  width: 60%;
  height: 500px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.grid {
  background-color: white;
  width: 33%;
  height: 200px;
  border: 1px solid rgb(215, 230, 250);
  transition: background-color 1s;
}

.grid.one {
  background-color: rgb(182, 69, 54);
}

.grid.two {
  background-color: rgb(51, 124, 33);
}
